@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-zinc-100 overflow-x-hidden;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full;
}